.body .aside {
    display: flex;
    justify-content: center;
    border : 1px solid black;
  }
  
  .body .aside ul {
    display: flex;
    flex-direction: column;
  }
  
  .body .aside ul li {
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    flex-basis: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    background-color: #807bdf;
 	color : #ecebfe;
  	font-weight:bold;
  	font-size: 18px;
  }
  .body .aside ul li:hover{
      color: #778899;
  }