/* -----------------------------------header----------------------------------- */
.header {
    --margin-top: 30px;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header .logo {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    --margin-left: 50px;
    --background-color: white;
    border : 1px solid black;
  }
  
  .header .logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header nav {
    flex-basis: 1000px;
    display: flex;
  }
  
  .header nav ul {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .header nav ul li {
    flex-basis: 100%;
    height: 100%;
  }
  
  .header nav ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #807bdf;
 	color : #ecebfe;
  	font-weight:bold;
  	font-size: 18px;
  }
  
  
  .header a:hover{
  	color : #ecebfe;
  	font-weight:bold;
  	font-size: 20px;
  	border-bottom: 5px solid #ecebfe;
  }