.body .container {
    flex-basis: 1200px;
  }
  

  
  .body .main {
    display: flex;
    flex-direction: column;
  }
  
  .body .main section {
    width: 95%;
  }
  
  .body .main-section {
    flex-grow: 1;
  }
  
  .body .main section table {
    width: 100%;
  }
  
  .body .main .pager {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  
  .body .main .pager div {
    margin: 3px 0;
    padding: 0 5px;
  }
  
  .body .main .pager ul {
    display: flex;
  }
  
  .body .main .pager ul li {
    margin: 3px 0;
    padding: 0 5px;
  }