@charset "UTF-8";

@import url("/css/customer/detail-list.css");

html {
	background: url("/images/space.png");
}

h1 .flux {
	margin: 100px 0px 0px 0px;
	border:2px solid white;
}

body{
	margin-left:-50px;
}

.close-btn{
	margin-top : -100px;
	margin-left: 520px;
}

