@charset "UTF-8";

@import url("/css/customer/detail-list.css");

#main {
	background: url("/images/space.png");
}

.flux {
	margin-top : 0px;
}

body{
	margin-left:-50px;
}

.close-btn{
	margin-top : -100px;
	margin-left: 450px;
}