<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.FieldDao">

	<select id="get" resultType="com.ggiriggiri.web.entity.Field">
		select * from Field
	    where id=${param1}
	</select>               
	
	<select id="getList" resultType="com.ggiriggiri.web.entity.Field">
		select * from Field
		order by id desc
		<if test="param2 != null">
			limit #{param2} offset #{param1};
		</if>
	</select>
	
	<insert id="insert" parameterType="com.ggiriggiri.web.entity.Field">
		insert into Field(name)
		values(#{name});
	</insert>
	
	<update id="update">
		update Field
		set
			name = #{name}
		where id = #{id}
	</update>
	
	<delete id="deleteAll">
   		delete from Field
   		where id in
   		<foreach item="id" index="index" collection="ids"
   			open="(" separator="," close=")">
   			#{id}
   		</foreach>
   	</delete>
	
</mapper>