<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.ProfileSkillDao">
	<select id="getViewListByProfileId" resultType="com.ggiriggiri.web.entity.ProfileSkillView">
		select * from ProfileSkillView where profileId=#{profileId}
	</select>
	<insert id="insert" parameterType="com.ggiriggiri.web.entity.ProfileSkill">
		insert into ProfileSkill (profileId, skillId)
		values (#{profileId}, #{skillId});
	</insert>
</mapper>
