<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggiriggiri.web.dao.ProjectBoardDao">
	<select id="getViewListByProjectId"
		resultType="com.ggiriggiri.web.entity.ProjectBoardView">
		select * from ProjectBoardView where projectId=#{projectId}
		order by regdate desc;
	</select>

	<insert id="insert"
		parameterType="com.ggiriggiri.web.entity.ProjectBoard">
		insert into ProjectBoard(projectId,title, content, writerId)
		values(#{projectId},#{title}, #{content}, #{writerId});
	</insert>
	
	<delete id="delete">
   		delete from ProjectBoard where id=#{id}
   </delete>

</mapper>