<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.ProjectDao">

	<!-- list / field  -->
	<select id="getList" resultType="com.ggiriggiri.web.entity.Project">
		select * from Project
      	<if test="param3 !=null and param3 !=''">
      	where BINARY ${param3} like '%${param4}%'
      	</if>
		order by regDate desc
		limit #{param2} offset #{param1};
	</select>
	
	<select id="get" resultType="com.ggiriggiri.web.entity.Project">
		SELECT * FROM Project
	      WHERE ID=${param1}
	</select>                    
	<!-- list / field  -->
	
	<!-- skill / language  -->
	<!-- skill / language  -->
</mapper>