<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.ggiriggiri.web.dao.ProjectSkillDao">
    
    <insert id="insert" parameterType="com.ggiriggiri.web.entity.ProjectSkill">
    	insert into ProjectSkill(projectId,skillId) value(${projectId},${skillId});
    </insert>
    
    <update id="update" parameterType="com.ggiriggiri.web.entity.ProjectSkill">
    update ProjectSkill set skillId=#{skillId} where id=#{id} and projectId=#{projectId};
    </update>
    
  <select id="getListByProjectId" resultType="com.ggiriggiri.web.entity.ProjectSkillView">
  		select * from ProjectSkillView where projectId=#{id}
   </select>
    
    <select id="getProjectIdsBySkillNames" resultType="int">
		select projectId from ProjectSkillView
		where projectId in
			<foreach item="id" index="index" collection="projectIds"
				open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="skill != null">
				
				and skillName in
				<foreach item="sk" index="index" collection="skill" open="("
					separator="," close=")">
					#{sk}
				</foreach>
			</if>
			
		group by projectId;

	</select>
    
    <select id="getId" resultType="int">
	  		SELECT id FROM ProjectSkill where projectId=#{projectId} and skillId=#{skillId};
	   </select>
    
    </mapper>