<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <mapper namespace="com.ggiriggiri.web.dao.ProjectLanguageDao">
      
      <insert id="insert" parameterType="com.ggiriggiri.web.entity.ProjectLanguage">
    	insert into ProjectLanguage(projectId,languageId) value(${projectId},${languageId});
    </insert>
      
	  <select id="getListByProjectId" resultType="com.ggiriggiri.web.entity.ProjectLanguageView">
	  		select * from ProjectLanguageView where projectId=#{id}
	     
	   </select>
	   
	   <select id="getProjectIdsByLanguageNames" resultType="int">
		select projectId from ProjectLanguageView
		where projectId in
				<foreach item="id" index="index" collection="projectIds"
					open="(" separator="," close=")">
					#{id}
				</foreach>
		<if test="language != null">
				
				and languageName in
				<foreach item="lg" index="index" collection="language" open="("
					separator="," close=")">
					#{lg}
				</foreach>
			</if>
			
		group by projectId;

	</select>
	   
    
    </mapper>