<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggiriggiri.web.dao.StudyApplyDao">

	<select id="getByStudyIds" resultType="int">
		select studyId from StudyApply 
		where memberId = #{id} and resultStatus = #{resultStatus}
	</select>

</mapper>