<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggiriggiri.web.dao.StudyLanguageDao">
	<select id="getViewList"
		resultType="com.ggiriggiri.web.entity.StudyLanguageView">
		select * from StudyLanguageView where studyId=#{id}
	</select>

	      <insert id="insert" parameterType="com.ggiriggiri.web.entity.StudyLanguage">
    	insert into StudyLanguage(studyId,languageId) value(${studyId},${languageId});
    </insert>

	<select id="getStudyIdsByLanguageNames" resultType="int">
		select studyId from StudyLanguageView
		where studyId in
		<foreach item="id" index="index" collection="studyIds"
			open="(" separator="," close=")">
			#{id}
		</foreach>
		<if test="language != null">

			and languageName in
			<foreach item="lg" index="index" collection="language"
				open="(" separator="," close=")">
				#{lg}
			</foreach>
		</if>

		group by studyId;

	</select>

</mapper>