<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.StudyDao">

	<select id="get" resultType="com.ggiriggiri.web.entity.Study">
		select * from Study
		where id = #{id}
	</select>

	<select id="getViewList" resultType="com.ggiriggiri.web.entity.StudyView">
		select * from StudyView
		<if test="title !=null">
			where BINARY ${title} like '%${query}%'
		</if>

		and id in
		<if test="ids != null">
			<foreach item="id" index="index" collection="ids" open="("
				separator="," close=")">
				#{id}
			</foreach>
		</if>

		<if test="ids == null">
			(0)
		</if>
		order by regdate desc
		limit #{size} offset #{offset}
	</select>


	<select id="getIdsByFieldNames" resultType="int">
		select id from StudyView
		<if test="field !=null">
			where fieldName in
			<foreach item="fd" index="index" collection="field" open="("
				separator="," close=")">
				#{fd}
			</foreach>
		</if>
	</select>

	<select id="getCount" resultType="int">
		select count(id) from StudyView
		<if test="title !=null">
			where BINARY ${title} like '%${query}%'
		</if>

		and id in
		<if test="ids != null">
			<foreach item="id" index="index" collection="ids" open="("
				separator="," close=")">
				#{id}
			</foreach>
		</if>

		<if test="ids == null">
			(0)
		</if>
	</select>

	<select id="getView" resultType="com.ggiriggiri.web.entity.StudyView">
		select * from StudyView
		where id = ${id}
	</select>

	<select id="getPrev" resultType="com.ggiriggiri.web.entity.StudyView">
		select * from StudyView where id &lt;
		(select id from StudyView where id=#{id})
		order by id desc
		limit 1;
	</select>

	<select id="getNext" resultType="com.ggiriggiri.web.entity.StudyView">
		select * from StudyView where id &gt;
		(select id from StudyView where id=#{id})
		order by id asc
		limit 1;
	</select>

	<select id="getViewListByStatusId" resultType="com.ggiriggiri.web.entity.StudyView">
		select * from StudyView

		where 
		<if test="ids == null">
			(id in (0)
		</if>
		<if test="ids != null">
			(id in
			<foreach item="id" index="index" collection="ids" open="("
				separator="," close=")">
				#{id}
			</foreach>
		</if>
		or leaderId = #{leaderId})
		and statusId = #{statusId}

		order by regdate desc
	</select>

	<select id="getIdsByLeaderId" resultType="int">
		select * from StudyView
		where leaderId = #{leaderId} and statusId = #{statusId};
	</select>
</mapper>