<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.StudyApplyDao">

	<insert id="insertStudyApply" parameterType="com.ggiriggiri.web.entity.StudyApply">
		insert into StudyApply(memberId,studyId,comment)
		values(#{memberId}, #{studyId}, #{comment})
	</insert>


	<select id="getStudyIdsByMemberId" resultType="int">
		select studyId
		from StudyApply
		where memberId = #{memberId} and resultStatus = #{resultStatus}
	</select>

	<select id="getViewListByStudyIds" resultType="com.ggiriggiri.web.entity.StudyApplyView">
		select * from StudyApplyView
		where studyId in
		<foreach item="id" index="index" collection="studyIds"
			open="(" separator="," close=")">
			#{id}
		</foreach>
		order by regDate desc;
	</select>

	<select id="getResultViewListByMemberId" resultType="com.ggiriggiri.web.entity.StudyApplyView">
		select * from StudyApplyView
		where memberId = #{memberId} and resultStatus != #{resultStatus} and
		resultChecked=#{resultChecked}
		order by resultDate desc;
	</select>
	
	<select id="check" resultType="int">
		select count(*) from StudyApply where memberId =#{memberId} and studyId=#{studyId}
	</select>
	
	<select id="getViewByStudyId" resultType="com.ggiriggiri.web.entity.StudyApplyView">
		select * from StudyApplyView
		where studyId = #{studyId} and resultStatus = #{resultStatus}
	</select>
	
	<update id="updateStatus">
		update StudyApply
		set
		resultStatus = #{resultStatus}
		where memberId = #{memberId};
	</update>

</mapper>
