<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggiriggiri.web.dao.StudyApplyDao">
    
    <insert id="insertStudyApply" parameterType="com.ggiriggiri.web.entity.StudyApply">
    insert into StudyApply(memberId,studyId,comment)
    values(#{memberId},#{studyId},#{comment})    
    </insert>
    
  
	<select id="getStudyIdsByMemberId" resultType="int">
		select studyId from StudyApply 
		where memberId = #{memberId} and resultStatus = #{resultStatus}
	</select>
    
</mapper>
