@charset "UTF-8";



.container-box {
	display: flex;
	justify-content: space-between;
	color:beige;
	margin-top:50px;
}
	.container-box .apply-list,
	.container-box .apply-result-list{
		display: flex;
	}
	.container-box h1 {
		padding: 30px;
	    font-size: 2em;
	    
	    font-weight:bold;
	    font-family: 'Montserrat', sans-serif;
	    color:white;
	    font-style:italic;
	    letter-spacing:0px;
	    text-shadow: 0 0 10px #fff, 0 0 20px #FFDD1B, 0 0 30px #FFDD1B;
	}
	.container-box .container-box2 {
		width: 600px;
		height: 270px;
		padding:5px 10px;
		
		border: 1px solid white;
		border-radius:10px;
		
		overflow: auto;
		box-shadow: 0 0 10px #fff, 0 0 20px #228dff;
		
		background: rgba(0,0,0,0.6);
		
	}
	
	.container-box .container-box2 div {
		margin-top:15px;
		padding-bottom:10px;
		
	}


		.text-items{
			border-bottom: 2px solid gray;
		}
		.text-items span:nth-child(1){
			font-size: 18px;
		}
		.text-items span:nth-child(1) .user-name{
			margin-right:5px;
			
			font-weight: 600;
			font-size:20px;
			
			color: white;
			
			text-shadow: 0 0 10px #fff, 0 0 20px #4169E1;
			
		}
		.text-items .date-fmt {
			font-size: 5px;
			color: #c1c1c1;
			margin-left: 10px;
			font-style: italic;
		}
		.result-items{
		    display:flex;
			flex-direction:column;
		}
		.result-items .result-date {
			align-self: flex-end;
			margin-top:10px;
			margin-right: 10px;
		}
	
.scroll-box{
	align-self: center;
    padding-left: 20px;
    margin-top: 60px;

}
	.scroll-box div:last-child{
	margin-top: 60px;
	}
	
	
	
	
	
.sp-box {
	display: flex;
}

	.sp-box .group-page{
		margin-left: 40px;
	}



.last-box {
	padding-bottom: 50px;
}

.sp-box2 {
	flex-basis: 33%;
	height: 160px;
	border: 1px solid black;
}

.sp-box3{
	display: flex;
	flex-direction: column;	
}
	.sp-box3 span{
		font-size: 13px;
	}
	.sp-box3 .sp-title{
		font-weight: 600;
		font-size:17px;
		color:white;
		
		margin-bottom: 5px;
		text-shadow: 0 0 10px #fff, 0 0 20px #4169E1;
	}
.img-size {
	width: 100px;
	height: 100px;
}



