.body {
    margin-top:30px;
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      width: 1200px;
      border : 1px solid black;
    }
    .body .main {
      flex-basis: 1000px;
      flex-shrink: 0;
      padding-top: 30px;
      padding-left: 30px;
      
    }