html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

html {
  position: relative;
  justify-content: center;
  position: relative;
  background-color: white;
}

body {
  flex-basis: 1200px;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
}

.d-none {
  display: none;
}

.current{
  color: palevioletred;
  font-weight: 700;
  font-style: italic;
}