.body .main .main1 .container{
    display:flex;
    border : 1px solid black;

}

.body .main .main1 .container section{
    flex-basis: 50%;

}

.body .main .main2 .container{
  display:flex;
  border : 1px solid black;

}
.body .main .main2 .container section{
  flex-basis: 50%;
 
  
}
