@charset "UTF-8";

.detail-container .contest-list{
	margin:auto;	
}

.contest-list tbody{
	width: 100%;
}

.contest-detail .content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.detail-container .contest-list tbody tr{
	width:100%;
}

.contest-list th,
.contest-list td{
	text-align: center;
}

.contest-list th{
	width: 120px;
}

.contest-list td{
	width:500px;
}

.content img,
.content span{
	margin:50px 30px;
}

.content span{
	flex-basis: 100%;
}