@charset "UTF-8";

.contest{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
}

.contest .search-query{
	width: 100%;
}

.contest .search-query input:nth-child(2){
	width: 200px;
}

.contest .contest-list{
	margin:50px auto;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contest-item{
	margin:30px;
	border-radius: 20px;
	background: white;
	height: 290px;
}

.contest-item table{
	width: 97%;
}

.contest-item th{
	font-weight: bold;
}

.contest-item td{
	text-align: right;
}

.contest-item img{
	border-radius: 20px;
	width: 240px;
	height: 250px;
}

.contest .contest-list .contest-item:hover{
	animation: contestneon 1.5s ease-in-out infinite alternate;
}

.pager{
	margin-top:50px;
}

@keyframes contestneon {
  from {
    box-shadow:  0 0 10px #fff, 0 0 20px #ff85fb, 0 0 30px #ff85fb, 0 0 40px #ff85fb, 0 0 50px #ff85fb, 0 0 70px #ff85fb;
  }
  to {
    box-shadow:  0 0 5px #fff, 0 0 10px #ff85fb, 0 0 20px #ff85fb, 0 0 30px #ff85fb, 0 0 30px #ff85fb, 0 0 40px #ff85fb;
  }
}