
.profile-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-top {
	width: 100%;
	height: 420px;
	color: white;
	background-image: url("/images/profileImg/profileTop.jpg");
	font-size: 60px;
	text-align: center;
	line-height: 420px;
}

.diamond {
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -200px;
	margin: 0 auto;
}
	.diamond:after {
		content: '';
		position: absolute;
		left: -100px;
		top: 100px;
		width: 0;
		height: 0;
		border: 100px solid transparent;
		border-top-color: red;
    }

.profile-list {
	display: flex;
	width: 1520px;
	justify-content: flex-end;
	color: white;
	font-size: 45px;
}

.line-bar {
	width: 1520px;
	border-bottom: 1px solid white;
	margin-top: 30px;
}

.profile-image {
	width: 300px;
	height: 480px;
	padding-top: 100px;
	text-align: center;
	color: white;
	font-size: 40px;
}

	.profile-image>img {
		margin-bottom: 30px;
	}

.introduce {
	width: 800px;
	margin-top: 40px;
	color: white;
	padding: 10px;
	font-size: 25px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 40px;
}

.address {
	width: 1520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin: 50px 0 50px 0;
}