
.profile-reg{
	width:300px;
	height: 200px;
	position: absolute;
	left: 250px;
	top: 200px;
	background: green;
}

.container {
	display: flex;
	--background: #0D1117;
	border: 1px solid red;
}

.menu{
	width: 220px;
	height: 500px;
	border: 1px solid black;
}

.detail{
	width: 680px;
	height: 500px;
	border: 1px solid blue;
}

.profile-img{
	margin: 20px 35px 0px 35px;
}
	.profile-img>img{
		width: 150px;
		height: 225px;	
		border: 1px solid red;
	}
	
.nickname{
	width: 220px;
	height: 40px;
	border: 1px solid blue;
	text-align: center;
	line-height: 40px;
	font-size : 25px;
}

.menu-bar{
	margin-top: 20px;
}

	.menu-bar>div{
		width: 220px;
		height: 45px;
		border: 1px solid green;
	}
	
.detail>div{
	display: none;
}

.detail>.selected{
	display: flex;
	flex-direction: column;
}

.menu-name{
	width: 670px;
	display: flex;
	justify-content: flex-end;
}
/*------------------------------------------*/
.content{
	width: 400px;
	height: 200px;
	margin: 20px 135px 20px 135px;
}

/*------------------------------------------*/
.language-table{
	width: 650px;
	height: 400px;
	margin-top: 50px;
	margin-left: 20px;
}

.language-table img{
	width: 50px;
	height: 50px;
}



