@charset "UTF-8";
@import "../admin/components/search-form.css";
@import "../admin/components/button.css";




/* class 순서대로
project-study-serch-form -> 검색폼 section

p-s-regBtn-box -> div
p-s-regBtn -> div

project-study-list -> ul
list-item -> li
p-s-image -> 메인 img
table -> <table> 대신 <div>로 대체
table-column -> 클래스 table 내부 div(field+language 묶기)
l-icon -> language img

field
title
skill
language
limit-number
 */

/* pager class
 current -> li
 */



/*-----------------------search-form-------------- */
.project-study-serch-form{
	--background:gray;
	margin-top:50px;
}


/*-----------------------button------------------  */
.p-s-regBtn-box{
	display: flex;
	justify-content: flex-end;
	
}
.p-s-regBtn{
  
  background-color: none;
  border:3px solid #228DFF;
  border-radius:50%;
  padding:15px 6px;
  cursor: pointer;
  color:white;
  position:fixed;
  font-size:25px;
  z-index:1;
  transition:.2s ease-in-out;
}
.p-s-regBtn:hover{
	font-size: 20px;
	padding:10px 5px;
} 





/*-----------------------.project-study-list------------------  */
.project-study-list{
	--background:gray;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding-right:50px;
	padding-left:50px;
	padding-bottom:20px;
	--margin-top:20px;
}
.project-study-list .p-s-image{
	width:230px; 
	height:280px;
}

.project-study-list .list-item{
	border: 3px solid #FFF;
	border-radius: 40px 0px 40px 0px;
	
	overflow: hidden;
	margin: 0 auto;
	margin-top: 70px;
	margin-left:20px;
}

.project-study-list .table{
	width:100%;
	background: #e9e9e9;
}

.project-study-list .table-column{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project-study-list .l-icon{
	width:30px; 
	height:30px;
	margin-right: 5px;
}





/*-------------------------------column----------------------------  */
.field{
	font-size: 13px;
	margin-left: 5px;
}

.title{
	font-size:18px;
	font-weight: 600;
	margin-left: 5px;

	color: #444444;
	text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.skill{
	margin-left: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
.language{
	margin-left: 5px;
	margin-top: 3px;
}
.limit-number{
	margin-left: 5px;
	margin-top: 10px;
	font-size: 14px;
}





/* -------------------------pager-------------------------- */
.pager{
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pager ul{
	display: flex;
	align-items: center;
}
.pager a,
.pager i{
	margin:0 4px;
	padding: 3px 0;
}
.pager i{
	font-size: 23px;
	color: white;
	margin:0 8px;
}

.pager li{
	background: beige;
	border-radius: 20%;
	margin:0 8px;
	padding: 10px;
	font-size: 20px;
}


/* ------------------------- sub----------------------------- */
.pager i:hover{
	color:#FFDD1B;
	 text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

.list-item:hover {
  --box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
  animation: neon1 1.5s ease-in-out infinite alternate,itemAnimation 1.3s ease-in-out infinite;
}

.pager li:hover{
	background:blanchedalmond; 
}

.current{
	color:orange;
	font-weight:600;
	box-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 5px #FFDD1B, 0 0 5px #FFDD1B;
}

/*-------------animation---------------- */

@keyframes itemAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-23px) ;
    
  }
  100% {
    transform: none;
  }
}



@keyframes neon1 {
  from {
    box-shadow:  0 0 10px #fff, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 70px #228DFF;
  }
  to {
    box-shadow:  0 0 5px #fff, 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF;
  }
}

@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon7 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}