@charset "UTF-8";
@import "../admin/components/search-form.css";
@import "../admin/components/button.css";

/* class 순서대로
project-study-serch-form -> 검색폼 section

p-s-regBtn-box -> div
p-s-regBtn -> div

project-study-list -> ul
list-item -> li
p-s-image -> 메인 img
table -> <table> 대신 <div>로 대체
table-column -> 클래스 table 내부 div(field+language 묶기)
l-icon -> language img

field
title
skill
language
limit-number
 */

/* pager class
 current -> li
 */


html, body{
	background: #0D1117;
}
/*-----------------------search-form-------------- */
.project-study-serch-form{
	--background:gray;
	margin-top:50px;
}


/*-----------------------button------------------  */
.p-s-regBtn-box{
	display: flex;
	justify-content: flex-end;
	
}
.p-s-regBtn{
	position:fixed;
	width:15px;
	z-index:1;
	opacity: 0.8;
}



/*-----------------------.project-study-list------------------  */
.project-study-list{
	--background:gray;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:20px;
	--margin-top:20px;
}
.project-study-list .p-s-image{
	width:230px; 
	height:280px;
}

.project-study-list .list-item{
	border: 3px solid rgba(171,170,189,0.55);
	border-radius: 40px 0px 40px 0px;
	
	overflow: hidden;
	margin: 0 auto;
	margin-top: 70px;
	margin-left:30px;
}

.project-study-list .table{
	background:inherit;
	width:100%;
	background: white;
}

.project-study-list .table-column{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project-study-list .l-icon{
	width:30px; 
	height:30px;
	margin-right: 5px;
}





/*-------------------------------column----------------------------  */
.field{
	font-size: 13px;
	margin-left: 5px;
}

.title{
	font-size:18px;
	font-weight: 600;
	margin-left: 5px;

	color: #444444;
	text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.skill{
	margin-left: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
.language{
	margin-left: 5px;
	margin-top: 3px;
}
.limit-number{
	margin-left: 5px;
	margin-top: 10px;
	font-size: 14px;
}





/* -------------------------pager-------------------------- */
.pager{
	--background:yellow;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pager ul{
	display: flex;
	align-items: center;
}
.pager a,
.pager i{
	margin:0 4px;
	padding: 3px 0;
}
.pager i{
	font-size: 23px;
	color: gray;
	margin:0 8px;
}

.pager li{
	background: beige;
	border-radius: 20%;
	margin:0 8px;
	padding: 10px;
	font-size: 20px;
}


/* ------------------------- sub----------------------------- */
.pager i:hover{
	color:black;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.list-item:hover {
	box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
	animation: itemAnimation 1.3s ease-in-out infinite;
}

.pager li:hover{
	background:blanchedalmond; 
}

.current{
	color:orange;
	font-weight:600;
}



@keyframes itemAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-23px) ;
    
  }
  100% {
    transform: none;
  }
}


